# Environment variables
.env

# Virtual environment
venv/

# Log files
*.log

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS metadata
.DS_Store

# Editor folders
.vscode/
.idea/

# Log directory
logs/